/* * - inicia todos os elementos com magin 0 e padding 0 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Hey August';
  src: url('fontes/Hey August.otf') format('opentype'),
    url('fontes/Hey August.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Androgyne_TB';
  src: url('fontes/Androgyne_TB.otf') format('opentype'),
    url('fontes/Androgyne_TB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/* definir as propriedades do topo */

#header {
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #58a2f1, #03256C);
  box-shadow: 0px 3px 10px #464646;
  position: fixed;
  z-index: 2;
}

#rede_socias_menu {
  position: relative;
  display: none;
  right: 50px;
}

#menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}

#menu a {
  display: block;
  padding: 0.2rem;
}

#btn-mobile {
  display: none;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: sans-serif, Verdana, Tahoma, sans-serif;
}

a:hover {
  color: #778;
}

#logo img {
  margin-left: 37%;
  width: 40%;
}

#velocimetro {
  background-color: #FF0000;
  border-radius: 15px;
  width: 190px;
  text-align: center;
}

/* definir as propriedades do logo redondo */

.logo_redondo {
  position: absolute;
  margin-top: 60px;
  left: 6%;
  width: 120px;
}

.logo_redondo img {
  width: 100%;
  position: relative;
  transition: transform 0.7s ease-in-out;
}

.logo_redondo img:hover {
  transform: rotate(360deg);
}

/* definir as propriedades da logo whatsapp */

.whatsapp_logo {
  position: fixed;
  width: 13%;
  bottom: 16%;
  right: 30px;
  z-index: 1;
}

.whatsapp_logo img {
  width: 35%;
  transition: all 0.5s;
}

.whatsapp_logo a img:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}


/* Slides pagina home */

.slider {
  top: 100px;
  position: relative;
  width: 100%;
  height: calc(100vh + 100px);
  overflow: hidden;
}

.slider h1 {
  position: absolute;
  margin-top: 15%;
  left: 200px;
  font-size: 7.3vh;
  font-family: Androgyne_TB, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  z-index: 1;
  animation: internetPara 1.5s linear;
}

@keyframes internetPara {

  0% {
    margin-left: -100%;
  }

  25% {
    margin-left: -75%;
  }

  50% {
    margin-left: -50%;
  }

  75% {
    margin-left: -25%;
  }

  100% {
    margin-left: 0;
  }
}

.slider p {
  position: absolute;
  margin-top: 24%;
  left: 200px;
  font-size: 3.5vh;
  font-family: Androgyne_TB, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  z-index: 1;
  animation: navegue 3s linear;
}

@keyframes navegue {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slides {
  width: 400%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 3s;
}

.slide img {
  width: 100%;
}

.manual-navigation {
  position: absolute;
  width: 100%;
  margin-top: 250px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #FFFFFF;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

.manual-btn:hover {
  background-color: #FFFFFF;
}

#radio1:checked~.primeiro {
  margin-left: 0;
}

#radio2:checked~.primeiro {
  margin-left: -25%;
}

#radio3:checked~.primeiro {
  margin-left: -50%;
}

#radio4:checked~.primeiro {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #FFFFFF;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  margin-top: 40%;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 20px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background-color: #FFFFFF;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background-color: #FFFFFF;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background-color: #FFFFFF;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background-color: #FFFFFF;
}

.imagemDeFundo_home img {
  width: 100%;
  display: none;
}

.imagemDeFundo_homeBaixo img {
  width: 100%;
  display: none;
}


/* definir as propriedade dos pop-ups */

.modalDialog {
  position: fixed;
  font-family: 'Verdana';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(58, 9, 181, 0.668);
  z-index: 9999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  display: none;
}

.modalDialog:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.modalDialog div {
  width: 500px;
  position: relative;
  margin: 5% auto;
  padding: 5px 20px 13px 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 10px;
  background-color: #FFF;
}

.modalDialog p {
  margin-top: 5%;
  margin-bottom: 5%;
}

.modalDialog ul {
  padding-left: 10%;
  text-align: left;

}

.modalDialog img {
  width: 44%;
  position: relative;
  margin-left: 30%;
}

.modalDialog1 {
  position: fixed;
  font-family: 'Verdana';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(58, 9, 181, 0.668);
  z-index: 9999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  display: none;
}

.modalDialog1:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.modalDialog1 div {
  width: 500px;
  position: relative;
  margin: 5% auto;
  padding: 5px 20px 13px 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 10px;
  background-color: #FFF;
}

.modalDialog1 p {
  margin-top: 5%;
  margin-bottom: 5%;
}

.modalDialog1 ul {
  padding-left: 10%;
  text-align: left;

}

.modalDialog1 img {
  width: 44%;
  position: relative;
  margin-left: 30%;
}

/* velocimetro */

.modalDialog2 {
  position: fixed;
  font-family: 'Verdana';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(58, 9, 181, 0.668);
  z-index: 9999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  display: none;
}

.modalDialog2:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.modalDialog2 div {
  width: 700px;
  position: relative;
  margin: 6% auto;
  padding: 5px 20px 13px 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 10px;
  background-color: #141527;
  color: #ddd;
}

.modalDialog2 .velocimetro {
  position: relative;
  width: 700px;
  height: 535px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 10px;
  background-color: #141527;
}

.modalDialog2 p {
  font-size: 0.8em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.modalDialog2 ul {
  padding-left: 10%;
  text-align: left;

}

.modalDialog2 img {
  width: 14%;
  position: relative;
  margin-left: 44%;
  transition: all 0.5s;
}

.modalDialog2 img:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

/* entre em contato */

.modalDialog3 {
  position: fixed;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  background-color: rgba(58, 9, 181, 0.668);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
}

.modalDialog3 form {
  background-color: #FFFFFF;
  border-radius: 10px;
  max-width: 500px;
  width: 70%;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.modalDialog3 h1 {
  text-align: center;
  color: #03256C;
}

.modalDialog3 p {
  text-align: center;
  padding: 10px 0;
}

.modalDialog3 .input-single {
  position: relative;
  margin: 20px 0;
}

.modalDialog3 .input-single label {
  position: absolute;
  left: 8px;
  bottom: 15px;
  transition: 0.3s;
  cursor: text;
}

.modalDialog3:target {
  display: block;
  opacity: 1;

}

.modalDialog3 textarea {
  resize: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 17px;
  border: 0px;
  border-bottom: 2px solid #ccc;
  padding-left: 5px;
  width: 100%;
  height: 100px;
  margin: 10px 0;
}

.modalDialog3 textarea:focus {
  outline: 0;
}

.modalDialog3 input {
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 0px;
  border-bottom: 2px solid #ccc;
  padding-left: 5px;
  width: 100%;
  height: 35px;
  margin: 10px 0;
  outline: 0;
}

.modalDialog3 form .input-single .input:focus~label,
.modalDialog3 form .input-single .input:valid~label {
  transform: translateY(-24px);
  font-size: 12px;
}

.modalDialog3 form .input-single .textarea:focus~label,
.modalDialog3 form .input-single .textarea:valid~label {
  transform: translateY(24px);
  font-size: 12px;
}

.modalDialog3 form input[type=submit] {
  width: 100%;
  height: 35px;
  cursor: pointer;
  background: #03256C;
  text-align: center;
  color: #FFFFFF;
  border: 0;
  border-radius: 20px;
  transition: 0.5s;
}

.modalDialog3 form input[type=submit]:hover {
  background-color: #0000CD;
}

/* Botão fechar todos .modal */

.close {
  background-color: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.close:hover {
  background-color: #b50900;
}

/* pagina de planos */

#planos {
  position: relative;
  margin-top: -4px;
  width: 100%;
  height: 107vh;
  font-family: Arial Narrow black, Helvetica, sans-serif;
  color: #FFFFFF;
}

.banner_planos img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.planoPL2 {
  background: linear-gradient(90deg, #0000CD, transparent);
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  float: left;
}

.planoPL2 img {
  width: 90%;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  float: left;
}

.planoPL3 {
  position: relative;
}

.planoPL3 img {
  width: 45%;
  position: absolute;
  opacity: 0.9;
  float: left;
  top: 150px;
}

.planoPL3 h1 {
  position: absolute;
  top: 230px;
  left: 180px;
  font-size: 5.3em;
}

.planoPL3 h2 {
  position: absolute;
  top: 260px;
  left: 330px;
  font-size: 3em;
}

.planoPL3 h3 {
  position: absolute;
  top: 320px;
  left: 180px;
  font-size: 3.5em;
}

.planoPL3 p {
  position: absolute;
  top: 450px;
  left: 180px;
  font-size: 1.5em;
}

.assine a {
  position: absolute;
  top: 530px;
  left: 180px;
  width: 250px;
  line-height: 0px;
  color: #FFFFFF;
  text-decoration: none;
  box-shadow: 0px 0px 10px;
  font-size: 1.8em;
  text-shadow: 0px 0px 8px #000;
  animation: piscar 0.8s linear infinite;

}

@keyframes piscar {

  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.planoPL4 img {
  width: 280px;
  position: absolute;
  opacity: 0.9;
  float: left;
  top: 0px;
  right: 0px;
}

.planoPL5 img {
  width: 230px;
  position: absolute;
  opacity: 0.9;
  bottom: 0;
  float: left;
  right: 0px;
}

.planoPL6 img {
  width: 90px;
  position: absolute;
  top: 100px;
  left: 500px;
  float: left;
}

.planoPL7 img {
  width: 80px;
  position: absolute;
  bottom: 100px;
  left: 400px;
  float: left;
}

.planoPL8 img {
  width: 70px;
  position: absolute;
  bottom: 200px;
  left: 780px;
  float: left;
}

.superPlanos {
  position: relative;
  top: 115vh;
  left: 0;
}

.planoPL9 {
  position: absolute;
  background: #ddd;
  opacity: 0.4;
  bottom: 360px;
  right: 60px;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #FFFFFF;
  width: 370px;
  height: 270px;
  float: right;
}

.planoPL9_borda {
  position: absolute;
  background: transparent;
  bottom: 360px;
  right: 60px;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #FFFFFF;
  width: 370px;
  height: 270px;
  float: right;
}

.planoPL10 {
  position: absolute;
  background: #FF0000;
  opacity: 0.6;
  bottom: 545px;
  right: 90px;
  border-radius: 40px;
  width: 310px;
  height: 60px;
  float: right;
}

.planoPL11 {
  position: absolute;
  background: #FF0000;
  opacity: 0.6;
  bottom: 463px;
  right: 90px;
  border-radius: 40px;
  width: 310px;
  height: 60px;
  float: right;

}

.planoPL12 {
  position: absolute;
  background: #FF0000;
  opacity: 0.6;
  bottom: 382px;
  right: 90px;
  border-radius: 40px;
  width: 310px;
  height: 60px;
  float: right;
}

.planoPL13 {
  position: absolute;
  background: transparent;
  border: 2px solid #FFFFFF;
  bottom: 560px;
  right: 110px;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  float: right;
}

.planoPL13 img {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 27px;
  height: 27px;
}

.planoPL13 h3 {
  position: absolute;
  width: 265px;
  bottom: 13px;
  right: 0px;
  font-size: 21px;
}

.planoPL13 p {
  position: absolute;
  width: 265px;
  top: 2px;
  right: 0px;
  font-size: 0.6em;
}

.planoPL14 {
  position: absolute;
  background: transparent;
  border: 2px solid #FFFFFF;
  bottom: 482px;
  right: 110px;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  float: right;
}

.planoPL14 img {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 27px;
  height: 27px;
}

.planoPL14 h3 {
  position: absolute;
  width: 265px;
  bottom: 10px;
  right: 0px;
  font-size: 21px;
}

.planoPL14 p {
  position: absolute;
  width: 265px;
  top: 5px;
  right: 0px;
  font-size: 0.6em;
}

.planoPL15 {
  position: absolute;
  background: transparent;
  border: 2px solid #FFFFFF;
  bottom: 400px;
  right: 110px;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  float: right;
}

.planoPL15 img {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 27px;
  height: 27px;
}

.planoPL15 h3 {
  position: absolute;
  width: 265px;
  bottom: 10px;
  right: 0px;
  font-size: 21px;
}

.planoPL15 p {
  position: absolute;
  width: 265px;
  top: 5px;
  right: 0px;
  font-size: 0.6em;
}

/* definir as propriedades da página sobre */

#sobre {
  position: relative;
  background: linear-gradient(90deg, #58a2f1, #03256C);
  width: 100%;
  height: 100vh;
  margin-top: 0px;
}

#sobre .SB1 img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo_sobre img {
  position: absolute;
  width: 15%;
  float: left;
  top: 40%;
  left: 9%;
}

.container-sobre {
  position: absolute;
  width: 63%;
  height: 54%;
  left: 60%;
  top: 55%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  box-shadow: #000 4px 4px 6px;
  border-radius: 15px;
}

.container-sobre img {
  position: absolute;
  width: 50%;
  height: 87%;
  top: 6%;
  left: 47%;
}

.container-sobre p {
  position: absolute;
  width: 47%;
  text-align: center;
  font-size: 1.17vw;
  padding: 21px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* propriedades do mapa */

#mapa {
  position: relative;
  background: linear-gradient(90deg, #58a2f1, #03256C);
  width: 100%;
  height: 60vh;
  float: right;
}

#mapa iframe {
  position: relative;
  width: 40%;
  margin-top: 4%;
  left: 12%;
  box-shadow: 0px 0px 10px 2px #000;
  float: left;
}

#mapa .endereco p {
  position: absolute;
  color: #FFFFFF;
  text-shadow: #000 4px 4px 6px;
  top: 180px;
  right: 13%;
  font-family: Hey August, Arial, Helvetica, sans-serif;
  font-size: 7vh;
}

#mapa .endereco img {
  display: none;
  position: absolute;
  bottom: 0px;
  width: 240px;
  right: 10%;
}

/* definir as propriedade do footer (rodape) */

#rodape {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  min-height: 30vh;
  background-color: #0000CD;
  display: flex;
}

#rodape img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

#rodape .footer-texto {
  padding: 1% 3.5%;
  width: 44vh;
  min-height: 33vh;
}

#rodape .footer-texto:nth-child(4) {
  width: 40vh;
}

#rodape .footer-texto h3 {
  width: 300px;
  position: relative;
  color: #FF0000;
  text-shadow: #000 3px 3px 4px;
  margin: 20px 60px 0;
}

#rodape .footer-texto ul li {
  position: relative;
  left: 60px;
  margin: 10px 0px;
  list-style: none;
}

#rodape .footer-texto ul li a {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
}

#rodape .footer-texto ul li a:hover {
  color: #ddd;
}

#rodape .footer-texto p {
  color: #FFFFFF;
}

#rodape .sociais .face img {
  opacity: 1;
  left: -50px;
  width: 70px;
  height: 50px;
  animation: face 0.7s linear infinite;
}

@keyframes face {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

#rodape .sociais .insta img {
  opacity: 1;
  left: 50px;
  width: 70px;
  height: 50px;
  animation: insta 0.7s linear infinite;
}

@keyframes insta {
  0% {
    transform: rotate(-10deg);
    opacity: 1;
  }

  50% {
    transform: rotate(10deg);
    opacity: 1;
  }

  100% {
    transform: rotate(-10deg);
    opacity: 1;
  }
}

#rodape .developer p {
  color: #FFFFFF;
  position: absolute;
  text-align: center;
  bottom: 10%;
  padding: 1% 0 0;
  border-style: none;
  border-top: dotted;
  border-width: 1.5px;
  width: 90%;
  left: 75px;
  font-size: 12px;
}