@media screen and (max-width: 1000px) and (min-height: 1000px) {


    /* definir as propriedades do logo redondo */

    .logo_redondo {
        opacity: 0;
    }

    /* definir as propriedades da logo whatsapp */
    .whatsapp_logo {
        width: 150px;
        bottom: 18%;
        right: 130px;
        z-index: 9999;
    }

    .whatsapp_logo img {
        width: 100%;
    }


    /* definir as propriedades do menu */

    #header {
        height: 250px;
    }

    #rede_socias_menu {
        display: block;
        right: 0px;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 248px;
        height: 0;
        right: 0;
        visibility: hidden;
        background: linear-gradient(90deg, #58a2f1, #03256C);
        box-shadow: none;
        font-size: 1em;
        font-family: 'Verdana';
        color: #FFFFFF;
        list-style: none;
        transition: 0.6s;
        z-index: 1000;
        overflow-y: hidden;
    }

    #logo img {
        margin-left: 3%;
        width: 90%;
    }

    #nav.active #menu {
        height: calc(100vh - 250px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        position: relative;
        top: 100px;
        padding: 2.5rem 3.5rem;
        margin: 0 3rem;
        border-bottom: 2px solid #FFFFFF;
        font-size: 3em;
    }

    #velocimetro {
        background-color: transparent;
        border-radius: 0;
        width: 90%;
        text-align: left;
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        color: #FFFFFF;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburger {
        color: #FFFFFF;
        display: block;
        width: 65px;
        border-top: 4px solid;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 65px;
        height: 5px;
        background: currentColor;
        margin-top: 20px;
        transition: 0.8s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -25px;
    }

    /* pagina topo carrosel */

    /* Slides container */

    .slider {
        background: linear-gradient(90deg, #58a2f1, #03256C);
        height: calc(82vh + 100px);
    }

    .slider h1 {
        margin-top: 146%;
        left: 5%;
        text-align: left;
        font-size: 3.8em;
    }

    .slider p {
        top: -2%;
        left: 9%;
        font-size: 2.8em;
        text-align: center;
    }

    .slides {
        width: 770%;
    }

    .slides input {
        display: none;
    }

    .slide img {
        margin-top: 18%;
        margin-left: -28%;

    }

    .manual-btn {
        display: none;
    }

    .navigation-auto div {
        display: none;
    }

    .imagemDeFundo_home {
        position: absolute;
        opacity: 0.1;
        width: 100%;
    }

    .imagemDeFundo_home img {
        display: block;
        z-index: 1;
        margin-top: 130px;
        width: 100%;
        height: 420px;
        transform: rotateY(180deg);
    }

    .imagemDeFundo_homeBaixo {
        position: absolute;
        opacity: 0.1;
        width: 100%;
    }

    .imagemDeFundo_homeBaixo img {
        display: block;
        z-index: 1;
        margin-top: -300px;
        width: 100%;
        height: 300px;
    }

    /* O que é roteador */

    .modalDialog div {
        width: 850px;
        margin: 35% auto;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }

    .modalDialog p {
        font-size: 2em;
    }


    .modalDialog h2 {
        font-size: 2.8em;
    }

    .modalDialog ul {
        font-size: 2em;
    }


    /* Tudo sobre fibra optica */


    .modalDialog1 {
        position: fixed;
        font-family: 'Verdana';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(58, 9, 181, 0.668);
        z-index: 9999;
        opacity: 0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
        display: none;
    }

    .modalDialog1:target {
        display: block;
        opacity: 1;
        pointer-events: auto;
    }

    .modalDialog1 div {
        width: 850px;
        margin: 35% auto;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }

    .modalDialog1 p {
        font-size: 2em;
    }

    .modalDialog1 h1 {
        font-size: 2.8em;
    }

    /* Velocimetro */

    .modalDialog2 div {
        width: 900px;
        height: 40vh;
        margin: 4% auto;
        margin-top: 150px;
        -moz-border-radius: 12px;
        border-radius: 30px;
    }

    /* Entre em contato form */

    .modalDialog3 form {
        border-radius: 20px;
        max-width: 900px;
        max-height: 1100px;
        width: 100%;
        height: 100%;
    }

    .modalDialog3 h1 {
        font-size: 3.5em;
    }

    .modalDialog3 p {
        font-size: 1.8em;
    }

    .modalDialog3 .input-single {
        top: 100px;
        font-size: 2.2em;
        padding: 12px 0;
    }

    .modalDialog3 .input-single label {
        padding: 12px;
    }

    .modalDialog3 .input-single .input {
        font-size: 35px;
        margin: 10px -5px;
        padding: 25px;
    }


    .modalDialog3 textarea {
        font-size: 36px;
        width: 100%;
        height: 200px;
        margin: 0px 15px;
    }

    .modalDialog3 form .input-single .input:focus~label,
    .modalDialog3 form .input-single .input:valid~label {
        transform: translateY(-50px);
        font-size: 25px;
    }

    .modalDialog3 form .input-single .textarea:focus~label,
    .modalDialog3 form .input-single .textarea:valid~label {
        transform: translateY(40px);
        font-size: 25px;
    }

    .modalDialog3 form input[type=submit] {
        margin-top: 130px;
        height: 70px;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        font-size: 2.5em;
    }


    /* definições de plano responsivo */

    /* pagina de planos */

    #planos {
        position: relative;
        height: 1700px;
        overflow: hidden;
    }

    .banner_planos img {
        width: 310%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .planoPL2 {
        background: linear-gradient(90deg, #0000CD, transparent);
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        float: left;
    }

    .planoPL2 img {
        width: 90%;
        height: 32%;
        position: absolute;
        opacity: 0.8;
        top: 0;
        float: left;
    }

    .planoPL3 {
        position: relative;
        right: 30px;
        top: 160px;
    }

    .planoPL3 img {
        top: -50px;
    }

    .planoPL3 h1 {
        position: absolute;
        top: 210px;
        left: 180px;
        font-size: 6.5em;
    }

    .planoPL3 h2 {
        position: absolute;
        top: 255px;
        left: 370px;
        font-size: 3.3em;
    }

    .planoPL3 h3 {
        position: absolute;
        top: 320px;
        left: 180px;
        font-size: 4em;
    }

    .planoPL3 p {
        position: absolute;
        top: 470px;
        left: 180px;
        font-size: 2.3em;
    }

    .assine a {
        top: 600px;
        left: 180px;
        width: 350px;
        font-size: 3em;
    }

    #piscando {
        opacity: 1;
        transition-duration: 0.4s;
    }

    .planoPL4 img {
        width: 280px;
        position: absolute;
        opacity: 0.9;
        bottom: 0;
        float: left;
        top: 0px;
        right: 0px;
    }

    .planoPL5 img {
        width: 230px;
        position: absolute;
        opacity: 0.9;
        bottom: 0;
        float: left;
        bottom: 0px;
        left: 0px;
        transform: rotateY(180deg);
    }

    .planoPL6 img {
        width: 90px;
        position: absolute;
        top: 100px;
        left: 500px;
        float: left;
    }

    .planoPL7 img {
        width: 80px;
        position: absolute;
        bottom: 100px;
        left: 400px;
        float: left;
    }

    .planoPL8 img {
        width: 70px;
        position: absolute;
        bottom: 200px;
        left: 780px;
        float: left;
    }

    .superPlanos {
        position: relative;
        top: 100%;
        left: 43%;
        transform: translateX(-50%) translateY(-50%);
    }

    .planoPL9 {
        bottom: 260px;
        width: 700px;
        height: 480px;

    }

    .planoPL9_borda {
        bottom: 260px;
        width: 700px;
        height: 480px;
    }

    .planoPL10 {
        bottom: 585px;
        right: 80px;
        border-radius: 70px;
        width: 660px;
        height: 132px;
    }

    .planoPL11 {
        bottom: 433px;
        right: 80px;
        border-radius: 70px;
        width: 660px;
        height: 132px;
    }

    .planoPL12 {
        bottom: 283px;
        right: 80px;
        border-radius: 70px;
        width: 660px;
        height: 132px;
    }

    .planoPL13 {
        bottom: 640px;
        right: 130px;
        border-radius: 4px;
        border: 4px solid;
        width: 48px;
        height: 48px;
    }

    .planoPL13 img {
        width: 60px;
        height: 60px;
    }

    .planoPL13 h3 {
        width: 565px;
        bottom: 12px;
        font-size: 2.9em;
    }

    .planoPL13 p {
        width: 565px;
        top: 30px;
        font-size: 1.4em;
    }

    .planoPL14 {
        bottom: 485px;
        right: 130px;
        border-radius: 4px;
        border: 4px solid;
        width: 48px;
        height: 48px;
    }

    .planoPL14 img {
        width: 60px;
        height: 60px;
    }

    .planoPL14 h3 {
        width: 565px;
        bottom: 12px;
        font-size: 2.9em;
    }

    .planoPL14 p {
        width: 565px;
        top: 30px;
        font-size: 1.4em;
    }

    .planoPL15 {
        bottom: 340px;
        right: 130px;
        border-radius: 4px;
        border: 4px solid;
        width: 48px;
        height: 48px;
    }

    .planoPL15 img {
        width: 60px;
        height: 60px;
    }

    .planoPL15 h3 {
        width: 565px;
        bottom: 12px;
        font-size: 2.9em;
    }

    .planoPL15 p {
        width: 565px;
        top: 30px;
        font-size: 1.4em;
    }

    /* definições da pagina sobre responsivo */

    #sobre {
        height: 1700px;
    }

    .logo_sobre img {
        display: none;
    }

    .container-sobre {
        width: 80%;
        height: 1300px;
        left: 50%;
    }

    .container-sobre img {
        display: block;
        width: 685px;
        height: 500px;
        top: 40px;
        left: 50px;
    }

    .container-sobre p {
        margin: 550px 50px;
        width: 685px;
        font-size: 2em;
        padding: 0;
    }


    /* propriedades do mapa responsivo */


    #mapa {
        height: 44vh;
    }

    #mapa .quadro img {
        height: 1160px;
    }

    body #mapa iframe {
        width: 84%;
        height: 27vh;
        top: 12vh;
        left: 8%;
    }

    #mapa .endereco p {
        top: 55px;
        right: 13%;
        color: #FFFFFF;
        text-shadow: #000 4px 4px 6px;
        font-size: 4em;
    }

    #mapa .endereco img {
        display: block;
        top: 55px;
        left: 130px;
        width: 150px;
    }


    /* definir as propriedade do footer (rodape) */

    #rodape {
        flex-direction: column;
    }

    #rodape .footer-texto {
        min-height: 8vh;
    }

    #rodape .footer-texto h3 {
        color: #FF0000;
        font-size: 2.5em;
        width: 300px;
        margin-left: 90px;
    }

    #rodape .footer-texto ul li {
        position: relative;
        left: 90px;
        margin: 10px 0px;
    }

    #rodape .footer-texto ul li a {
        font-size: 2em;
    }

    #rodape .segue_la {
        display: none;
    }

    /* rede sociais mobile */


    #rodape .sociais .face img {
        bottom: 57px;
        left: 450px;
        width: 120px;
        height: 100px;
    }

    #rodape .sociais .insta img {
        bottom: 55px;
        left: 600px;
        width: 130px;
        height: 100px;
    }

    /* temina redes socais mobile */

    .close {
        line-height: 100px;
        right: 10px;
        top: -40px;
        width: 100px;
        border-radius: 50px;
        font-size: 4rem;
    }

    #rodape .developer p {
        bottom: 80px;
        border-width: 3px;
        width: 90%;
        left: 5%;
        font-size: 1.1em;
    }

}