@charset "UTF-8";

/* Typical Device Breakpoints
----------------------------------
@media screen and (min-width: 640px) and (max-width: 812px){

}
    Pequenas telas: até 640px
    Celular: 640px até 812px
    Tablet:768px até 992px
    Desktop:992px até 1200px
    TV:acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width:992px) {
    /*Configuração para TABLET*/

    body {
        background-image: linear-gradient(to top, #4d83db, #043192);
    }

    section#login {
        width: 80vw;
        height: 252px;
    }

    section#login>div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: center;
    }

    section#login>div#formulario {
        float: none;
        height: 70%;
    }

    h1 {
        display: inline-block;
        margin-left: 10px;
    }

    section#login>div#formulario p {
        display: flex;
        padding-left: 10px;
    }

    div#invalido>p {
        bottom: 0px;
        left: 248px;
    }

    form>div.campo {
        width: 66%;
        height: 40px;
        position: relative;
        left: 65%;
        top: 33%;
        transform: translate(-51%, 6%);
        border-radius: 5px;
        margin: 5px 0px;
    }

    form>input[type=submit] {
        width: 64%;
        height: 40px;
        position: absolute;
        left: 64%;
        top: 85%;
        transform: translate(-50%, -50%);
    }

    form>a.botao {
        width: 64%;
        height: 40px;
        position: absolute;
        left: 64%;
        top: 88%;
        transform: translate(-50%, -50%);
    }

    .material-icons {
        margin-left: -178px;
    }

    a>.material-icons {
        margin-left: 0px;
    }

    div.campo>input {
        width: 373px;
        height: 100%;
        border-radius: 6px;
        transform: translate(1.8%, -26.5%)
    }



}

@media screen and (min-width:992px) {
    /*Configuração para TELAS MAIORES*/

    body {
        background-image: linear-gradient(to top, #4d83db, #043192);
    }

    section#login {
        width: 950px;
        height: 294px;
    }

    section#login>div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login>div#formulario {
        float: left;
        height: 50%;
        position: absolute;
        width: 50%;
    }

    div#formulario>h1 {
        font-size: 2em;
        display: inline-block;
        margin-left: 10px;
    }

    div#formulario>p {
        font-size: 1.2em;
        display: flex;
        padding-left: 10px;
    }

    div.campo>input {
        width: 410px;
        border-radius: 7px;
        transform: translateY(-11px);
    }

    form>input[type=submit] {
        transform: translate(0%, 38%)
    }


}